.currency-panel {
  background-color: #e0e0e0;
  /* display: flex; */
  justify-content: space-around;
  /* flex-wrap: wrap;   */
}

.user-profile-container {  
}

.edit-icon {
  margin-left: 2%;
  padding-left: 4%;
}
.currency-container {
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.currency {
  align-content: center;
  padding: 4%;
  margin: 5%;
}

.user-profile {
  padding: 1%;
  margin: 3%;
}

.change-name-form {
  width: 50%;  
}
.form {
  width: 80%;
}