.currency-panel {
  background-color: #e0e0e0;
  justify-content: space-around;
 }

.dashboard-container {
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.currency {
  align-content: center;
  padding: 4%;
  margin: 5%;
}

.user-profile {
  padding: 1%;
  margin: 3%;
  margin-top: 15vh;
}

.change-name-form {
  width: 50%;  
}

.form {
  width: 80%;
}