.exchange {
  background-color: #e0e0e0;
  align-items: flex-start;
  padding: 2%;
  .list {
    display: flex;
    justify-content: center;
  }
  .List {
    width: 100%;
  }
  .chart {
    padding: 5% 0;
    min-height: 40vh;
    margin-top: 4%;
  }
  .currency {
    padding: 2% 0;
    margin: 5%;
  }
}
.trade{
  height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}